[Unit]
Description=Pool_Project_UI
After=network.target

[Service]
WorkingDirectory=/home/jaydeeph_vaja
ExecStart=/usr/bin/ng s --host 0.0.0.0 /home/jaydeeph_vaja/TeamAPoolProjectUI/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target