[Unit]
Description=Pool_Project_UI
After=network.target

[Service]
WorkingDirectory=/home/jaydeeph_vaja
ExecStart=/usr/bin/ng /home/jaydeeph_vaja/TeamB_Pool_Project_API/index.js --host 0.0.0.0
Restart=on-failure

[Install]
WantedBy=multi-user.target